<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Domina notes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="static/js/index.js" type=text/javascript></script>
    <link href="static/css/index.css" rel="stylesheet">
</head>
<body>
    <form id="save-text">
        <textarea id="text" name="message" rows="20" cols="200"></textarea><br>
        <input type="submit" value="Save">
    </form>
    <button id="load-text">Load</button>
</body>
</html>